@model Ajaxs_01.Paging.PaginatedList<StudentApp.Models.ShowStudentVM>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Country
            </th>
            <th>
                Enrolled
            </th>
            <th>
                Level
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody class="mt-5">

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @if (item.IsActive)
                    {
                <span>Yes</span>
                    }
                @if (!item.IsActive)
                    {
                <span>No</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelNumber)
            </td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    Edit
                </a>
                <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">
                    Details
                </a>
                <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>


<!--@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}-->
@*<a href="" id="perv" value="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled"> Previous</a>

    @Model.PageIndex

    <button type="button" id="next">Next!!</button>*@