@model IEnumerable<StudentApp.DTOs.BooksResponseDto>

    
    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availabe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookType)
            </th>
            <th>
                PDF
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Availabe)
                    {
                        <span>Yes</span>
                    }
                    @if (!item.Availabe)
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookType)
                </td>
                <td>
                    <a class="text-danger" asp-route-id="@item.Id" asp-controller="Book" asp-action="DownloadPDF">
                    PDF</a>
                </td>
            </tr>
        }
    </table>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })